<%#= javascript_pack_tag 'words' %>
<%= stylesheet_link_tag 'words', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="box meaning-box">
    <div class="item">
        <div class="word">
            <h1><%= @word.word %></h1>
            <p><%= @word.furigana %></p>
        </div>
        <div class="meaning">
            <p><%= @word.meaning %></p>
        </div>
    </div>
    <% if user_signed_in? %>
    <div class="form-box">
        <%= form_with(model: [@word, @meaning], local: true) do |f| %>
            <%= f.text_area :meaning %>
            <%= button_tag type: "submit" do %>
                <i class="far fa-comments"></i> 意味を投稿する
            <% end %>
        <% end %>
    </div>      
<% end %>
    <% if user_signed_in? && current_user.id == @word.user_id %>  
        <%= link_to "編集する", edit_word_path(@word.id) %>
    <% end %>
</div>

<%# いいね順 %>
<div class="ine-order">
    <%= link_to "新着順", word_path %>
    <%= link_to "いいね順", show2_word_path %>
</div>

<div class="box">
    <% @rank_meanings.each do |c| %>
            <div class="item meaning-item">
                <p class="user-name"><%= c.user.name unless c.user.blank? %></p>
                <p><%= c.meaning %></p>
                <%# 追記いいね機能 %>
                <% if user_signed_in? %>
                    <% if current_user.already_liked?(c) %>
                        <%= link_to word_meaning_like_path(id: c.id, word_id: c.word_id, meaning_id: c.id), method: :delete do %>
                            <i class="fas fa-heart"></i><%= c.likes.count %>
                        <% end %>
                    <% else %>
                        <%= link_to word_meaning_likes_path(id: c.id, word_id: c.word_id, meaning_id: c.id), method: :post do %>
                            <i class="far fa-heart"></i><%= c.likes.count %>
                        <% end %>
                    <% end %>
                <% else %>
                    <i class="far fa-heart"></i><%= c.likes.count %>
                <% end %>
                <%# 追記ここまで %>
                <% if user_signed_in? && current_user.id == c.user_id %> 
                    <%# link_to "編集する", edit_word_meaning_path(word_id: c.word_id, id: c.id) %>
                    <%= button_to "削除する", word_meaning_path(word_id: c.word_id, id: c.id), method: :delete %>
                <% end %>
            </div>
    <% end %>
</div>

<%# いいね順ここまで %>

<%= paginate @rank_meanings %>

<div class="index-link">
    <%= link_to "Word一覧に戻る", words_path %>
</div>
