<!DOCTYPE html>
<html>
  <head>
    <title>みんなの国語辞典</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="/" class="navbar-brand text-light font-weight-bold ">みんなの国語辞典</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item my-2"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <li class="nav-item my-2"><%= link_to "マイページへ", user_path(current_user.id) %></li>
        </ul>
        <% else %>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item my-2"><%= link_to "新規登録", new_user_registration_path %></li>
            <li class="nav-item my-2"><%= link_to "ログイン", new_user_session_path %></li>
          </ul>
        <% end %>  
      </div>
    </nav>
    
    <%= yield %>

    <footer>
     <p>Copyright © Daiki Okada All Rights Reserved.</p>
    </footer>
  </body>
</html>
